{#
/**
 * Available variables:
 * - button__content - the content of the button (typically text)
 *
 * Available blocks:
 * - button__content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button__base_class = button__base_class|default('button') %}

{% set additional_attributes = {
  class: bem(button__base_class, button__modifiers, button__blockname),
} %}

<a
  {{ add_attributes(additional_attributes) }}
  {% for attribute, value in link_attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  href="{{ button__url }}"
  {% if button__target %}
    target="{{ button__target }}"
  {% endif %}
>
  {% if button_icon %}
    {% include "@atoms/images/icons/_icon.twig" with {
      icon_url: button_icon.icon_url,
      icon_name: button_icon.icon_name,
      icon_height: button_icon.icon_height,
      icon_width: button_icon.icon_width,
    } %}
  {% endif %}
  {%- block button__content -%}
    {{ button__content }}
  {%- endblock -%}
</a>
